body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button[type="reset"] {
    background-color: #e74c3c;
}

button:hover {
    background-color: #2980b9;
}

button[name="corrigev2"] {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
