body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.page {
    max-width: 700px; /* Réduction de la largeur de la page */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0074c2;
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
}

header img {
    max-height: 40px;
}

.entreprise-info, .facture-info {
    text-align: left;
    padding: 20px;
}

#facture-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#destinataire, #envoie {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-right: 20px;
}

#facture-tableau {
    width: 100%;
    border-collapse: collapse;
}

#facture-tableau th, #facture-tableau td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: left;
    background-color: #fff;
}

#facture-tableau input {
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    background-color: #f9f9f9;
}

#totals {
    margin-top: 20px;
    text-align: right;
}

#totals input {
    border: none;
    width: 10%;
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    background-color: #f9f9f9;
    border-radius: 8px;
    text-align: center;
}

#boutons {
    text-align: right;
    margin-top: 20px;
}

button {
    margin-left: 10px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: #0074c2;
    color: #fff;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005aa6;
}
